@use "../../../index" as index;

.net-scheme-empty-item {
  display: flex;

  &__block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: index.$host-width;
    height: index.$host-height;
    border: index.$host-border-weight solid;
    padding: 6px;
    border-radius: 4px;
    background-color: #B8B8B8;

    button {
      padding: 0;
      height: 36px;
      width: 36px;
      background-color: transparent;
      border-color: #9996a1;

      &.ant-btn:not(:disabled) {
        &:active,
        &:hover {
          background-color: transparent;
        }
      }

      &:disabled {
        border-color: #9996a1;
      }
    }
  }
}
