.app-layout {
    height: 100vh;

    &__header {
        display: flex;
        height: auto;
        border-bottom: 1px solid;
        padding: 12px;

        &__btns-block {
            display: flex;
            gap: 12px;

            &__settings {
                display: flex;
                gap: 12px;
                opacity: 0;
                width: 0;
                overflow: hidden;
                transition: 0.3s;

                &._touched {
                    opacity: 1;
                    width: 218px;
                }
            }
        }
    }

    &__content {
        display: flex;
    }

    &__footer {
        border-top: 1px solid;
        padding: 16px;
        text-align: center;
        font-size: 12px;
        display: flex;
        flex-direction: column;

        span:first-child {
            font-weight: 500;
        }
    }
}
