@import "../../../index";

.net-scheme-item {
  width: 100%;
  min-width: max-content;
  display: flex;

  &__children {
    display: flex;
    gap: 8px;

    &-container {}

    &-element-container:first-child {
      margin-left: 8px;
    }
  }
}
